DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql_psycopg2',
        'NAME': 'DB_SGV',
        'USER': 'DjangoUSER',
        'PASSWORD': 'Djan#fg0',
        'HOST': 'localhost',
        'PORT': 5432,
    }
}