body {
    background-image: url('img/wallpaper.jpg');
    background-repeat: no-repeat;
    background-position: right center; /* Centrar horizontalmente y verticalmente */
    background-attachment: fixed; /* Opcional: fija la imagen de fondo */
    background-size: cover;

}
