{% extends 'layouts/base.html' %}

{% comment %}TODO LO QUE ESTE EN TITLE APARECERA EN EL TITULO DE LA PAGINA{% endcomment %}
{% block title %}
  DASHBOARD
{% endblock %}

{% comment %}MUESTRA LA UBICACION ACTUAL DE{% endcomment %}

{% block titlecontent %}
  DASHBOARD
{% endblock %}

{% block titlemenu %}

{% endblock %}

{% block content %}
  <div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col">
          <div class="card">
            <div class="card-header">
              <h5 class="m-0">Plantilla BASE DE CONTENIDO</h5>
            </div>
            <div class="card-body"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
